<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>greeting app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload_style.css') }}">
</head>
<body>
    <div class="container">
        <!-- main -->
        <h1>音声ファイルをアップロード</h1>
        <!-- python codeの埋め込み -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/voice_result" method="post">
            <input type="hidden" name="lang" id="selected_lang" value="ja">
            <div class="form-group">
                <label for="voice">音声ファイルを選択</label>
                <input type="file" id="voice" name="voice">
            </div>
            <!-- <div class="form-group">
                <label for="name">お名前を入力:</label>
                <input type="text" id="name" name="name" placeholder="例: 山田太郎">
            </div> -->
            <button type="submit" class="submit-button">送信</button>
        </form>
    </div>

</body>
</html>